.todo__container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;

  .todo__list{
    .todo__item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      color: var(--white-50);
      background-color: var(--bg-color-gray-100);
      border-radius: 8px;
      padding: 10px 15px;
      padding-bottom: 20px;
      border-bottom: 2px solid var(--bg-color-gray-150);
      transition: 0.2s;

      &:not(:last-child){
        border-radius: 0px;
      }
      &:first-child{
        border-radius: 8px 8px 0px 0px;
      }

      & + .todo_item{
        margin-top: 5px;
      }

      &:hover{
        background-color: var(--bg-color-gray-50);

        .todo__button.button--delete{ opacity: 1; }
        .todo__date{ opacity: 1;}

      }
      .todo__description{
        width: 90%;
        word-break: break-word;
        overflow-wrap: break-word;
        transition: text-decoration 0.2s ease, color 0.2s ease;
      }

      &.is-done{
        .todo__description{
          text-decoration: line-through;
          color: rgba(255,255,255,0.3);
        }
      }

      .todo__date{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
        color: var(--yellow-3);
        opacity: 0;
        font-size: 0.75rem;
        transition: 0.1s;
        cursor: default;
  
        i{
          font-size: 0.875rem;
          margin-right: 5px;
        }

        &:hover{
          .todo__popup{
            visibility: visible;
            animation: openPopUp 0.2s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }

  .todo__button{
    border-radius: 2px;
    border: 0px;
    background: transparent;
    font-size: 1.5rem;
    color: var(--pink);
    padding: 2px 8px;

    transition: 0.2s;

    &:hover{ text-shadow: 0px 0px 5px var(--pink); }
    &:active{ text-shadow: none; }

    &.button--delete{
      opacity: 0;
      align-items: center;

    }
  }

  .todo__counter{
    display: flex;
    justify-content: flex-end;

    p{
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--bg-color-gray-100);
      color: var(--yellow);
    }
  }

  .todo__form{
    background-color: var(--bg-color-gray-100);
    border-radius: 5px;
    padding: 10px 8px;
    display: flex;

    .form__input{
      width: 100%;
      color: var(--white);
      font-size: 1.125rem;
      font-weight: normal;
      padding: 0px 10px;
      background-color: var(--bg-color-gray-100);
      border: 0px;
      
      &:focus{
        outline: none;
      }
    }
  }

  .todo__empty{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Crete Round', serif;
    font-size: 1.2rem;
    color: var(--yellow-2);

    img{
      width: 100px;
    }
  }

  .todo__checkbox {
    transform: translateY(-7px);

    input[type="checkbox"]{
      display: none;
    }
  }
}