@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  min-height: 400px;
  width: 500px;
  
  .title{
    font-family: 'Crete Round', serif;
    font-size: 3rem;
    font-weight: normal;
    color: var(--yellow);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);

    span {
      font-size: 2.4rem;
      padding: 0 8px;
      text-shadow: none;
    }
  }
}

a {
  color: #ddbc72;
  margin-left: .3em;
}